body{
    background-color: #252525;
    padding: 0;
 
    
}


a {
    cursor: pointer;
}


a:hover{
    text-decoration: none;
   
}


button{
    cursor: pointer;
}




html, body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;

    text-decoration: none;
}

.logo{
    margin: 0;
    width:40px;
    height:40px;
    border:2px solid #E54B4B;
    border-top:2px solid #FDFFFC;
    border-radius:50%;
   
    /*Added Code from here down*/
    
    /*Animation code for older Chrome, Safari, Opera*/
    -webkit-transition-property: -webkit-transform;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    /*Animation code for older Firefox*/
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 

    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    /*Default animation code*/
    transition-property: transform;
    animation-name: rotate; /*Call to @keyframe rule*/
    animation-duration: 1.2s; /*Change to speed up or slow down the animation*/
    animation-iteration-count: infinite; /*Make the animation go forever*/
    animation-timing-function: linear;
}
   
  /*keyframes rule for older Chrome, Safari, Opera*/
  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }
   

  .logo2{
    margin: 0;
    width:40px;
    height:40px;
    border:2px solid #E54B4B;
    border-top:2px solid #FDFFFC;
    border-radius:50%;
   
    }
   

/* .live-list{
    background-color: #ce6f22
} */



.card-serch-song{
    display: flex;
    margin-bottom: 2px;
}


.card-serch-song-item1{
    flex:1
}
.card-serch-song-item2{
    flex:3
}
.card-serch-song-item3{
    flex:1;
   
}

.card-serch-in-bootoncolome{
    display: flex;
    flex-direction:column;
}


.searchbar{
    margin-bottom: 10px;
}

.myplaylist-vote-value{
    background-color: #252525;
    color: #E54B4B
}


.playcomnetn-button{
    display: flex;
    padding-bottom: 4px;
}
.playcomnetn-button-item{
    flex:1;
   
}

.text-white{
    color: #FDFFFC
}

#message-id{
    color: #FDFFFC
}

#message-id-err{
    color: #E54B4B
}


.seleteson {
 
    top: 0px;
}


.seleteson:active {

    top: 3px;
    color: #E54B4B;
    
}
